body {
  background-color: #eee;
}

.fa {
  color: #4183d7;
}

a {
  text-decoration: none;
  border-bottom: 1px solid blue;
}

.box-part {
  background-color: white;
  padding: 60px 0px;
  margin: 30px 0px;
  /* border-radius: 0px; */
}

.text {
  margin: 20px 0px;
  font-size: 15px;
}

.box {
  padding: 60px 0px;
}
